.navbar
  width 100vw
  display flex
  background transparent
  align-items center
  justify-content space-between
  padding 1rem 2rem
  position fixed
  top 0
  left 0
  height NAVBAR_HEIGHT

  &__logo
    display flex
    align-items center
    &__image
      img
        max-width 8rem
    &__text
      font-family 'Megrim'
      font-size 4rem
      font-weight bold
      color #fff
      letter-spacing .5rem
      margin-left 2rem